.week {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    margin: auto;
}
.day { 
    border: 1px solid lightgray;
    display: flex;
    flex-grow: 1;
    min-height: 150px;
}

.day:hover {
    background-color: lightgrey;
}

.day-titles {
    display: flex;
    flex-direction: row;
}
p {
    flex-grow: 1;
}
.calendar-header {
    width: 80%;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 2em;
}

